* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
}

.container {
  width: 500px;
  height: 200px;
  background-color: rgb(165, 162, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-size: 40px;
}

.container input {
  width: 350px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid gainsboro;
  border-radius: 23px;
  outline: none;
  caret-color: #000;
}

.container button {
  width: 40px;
  height: 40px;
  margin-left: 9px;
  border: 1px solid gainsboro;
  border-radius: 50%;
}

.Wrapper {
  display: flex;
}

.todolist {
}

.todolist li {
  position: relative;
  width: 500px;
  height: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  list-style: none;
  border: 1px solid gainsboro;
  background-color: rgb(237, 237, 237);
}

.todolist span {
  position: absolute;
  top: 10;
  right: 50px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
  border-radius: 50px;
}

.close {
  cursor: pointer;
}
